<!DOCTYPE html>

<html >
    {{> head}}
    <body>
    {{> header}}
        <div id="members">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    {{> sidebar}}
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="jumbotron" id="members-caption">
                        {{!-- {{#if user.isBoardMember}}
                        <div class="row" id="headerrow">
                            <div class="col-4 form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" id="checkallmembers" type="checkbox" value="">
                                Alle Mitglieder anzeigen
                            </label>
                            </div>                       
                        </div>
                        {{/if}} --}}
                        {{> alerts}}
                        <div class="container">
                            <p>
                                <h5 id="heading">Mitgliederübersicht</h5>
                            </p>
                            <table class="table table-border table-light">
                            <thead>
                                <tr>
                                <th>Bild</th>
                                <th>Name</th>
                                <th>Handy</th>
                                <th>Email</th>
                                </tr>
                            </thead>
                            <tbody id="allmembers">
                                {{#if users}}
                                {{#each users}}
                                <tr>
                                <td><img src="/img/{{#if bild}}{{bild}}{{else}}placeholder.png{{/if}}" width="50px"></td>
                                <td>{{name}}</td>
                                <td>{{handy}}</td>
                                <td>{{email}}</td>
                                </tr>                                
                                {{/each}}
                                {{/if}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>


        <!-- Optional JavaScript -->
        
        {{> scripts}}
        <script type="text/javascript" src="/js/allmembers.js"></script>
        <!-- Additional JavaScript -->
    </body>
</html>